.page {
	color: #333333; 
	background-color: #F3F3F3; 
	height: 18px;width: 36px;
	border: 1px solid #333333;
	margin-right: 1px; 
	margin-left: 1px;
} 

.fytd {
	font-size: 12px; 
	color: #333333;
}

.fy:link {
	color: #333333;
	text-decoration: underline;
	font-size: 12px;
}
 
.fy:visited {
	color: #333333;
	text-decoration: underline;
	font-size: 12px;
} 

.fy:hover{
	color: #000000;
	text-decoration: none;
	border: 1px solid #999999;
	background-position: center center;
	font-size: 12px; 
	background-color: #FFFFFF;
}

.fy:active {
	color: #000000;
	text-decoration: none;
	border: 1px solid #999999;
	background-position: center center;
	padding: 1px 1px 0px;
	font-size: 12px;
	background-color: #FFFFFF;
} 
