<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="findDao" class="com.qiYang.dao.FindUserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="updatedao" class="com.qiYang.dao.UpdateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="selectAction" class="com.qiYang.action.SelectAction" scope="prototype">
		<property name="findDao" ref="findDao"></property>
		<property name="updatedao" ref="updatedao"></property>
	</bean>
	
	<bean id="addInfoAction" class="com.qiYang.action.AddInfoAction" scope="prototype">
		<property name="updatedao" ref="updatedao"></property>
	</bean>
	
	<bean id="moredao" class="com.qiYang.dao.UpdateMoreDao"></bean>
	<bean id="moreAction" class="com.qiYang.action.MoreAction" scope="prototype">
		<property name="moredao" ref="moredao"></property>
	</bean>
	</beans>